@media only screen and (max-width: 1024px){
  .container{
    padding: 10px 20px !important;
  }
  .background__how{
    padding: 50px 0;
  }
  .what--content{
    padding: 50px 0;
  }
  .background__service{
    padding: 30px 0;
  }

}
@media only screen and (max-width: 767px){
  .logo--header{
    width: 50%;
  }
  .background__banner{
    padding: 0;
  }
  .banner__content{
    flex-direction: column;
    align-items: center;
  }
  .background__banner .banner .content{
    max-width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .buttons{
    /* width: 100%; */
    margin: auto;
  }
  /* .background__service{
    padding: 0px;
  } */
  .header--service{
    margin-bottom: 50px;
  }
  .content--service-item{
    flex-direction: column;
  }
  .content--service-item .title{
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .content--service{
    grid-template-columns: auto !important;
    justify-content: center;
  }
  .body-content--why-choose{
    flex-direction: column;
  }
  .whychoose__content{
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .whychoose__content .title--bottom{
    margin-bottom: 0;
  }
  .img-why-choose{
    width: 100%;
  }
  .slick-slider{
    margin-bottom: 40px;
  }
  .what--content{
    padding: 50px 0;
    flex-direction: column;
    gap: 60px;
  }
  .background__how{
    padding: 50px 0;
  }
  .col-span-1{
    display: none;
  }
  .col-span-3{
    grid-column: span 4 !important;
  }
  .content--step{
    flex-direction: column;
    padding: 0 20px;
  }
  .process{
    padding: 30px;
  }
  .process-text{
    padding: 12px 30px;
  }
  .title__header{
    font-size: 28px;
  }
  .footer__header, .footer__bottom{
    font-size: 28px;
  }
  .process .title--bottom{
    margin-bottom: 40px !important;
  }
  .background__footer{
    padding-top: 10vh;
    height: calc(100vh - 50px);
  }
  /* .what .text__title--content{
    text-align: center;
  } */
  .header__container .contact--header .contact--header--button{
    width: 98px;
    height: 30px;
  }
  .content--service-item .title .title--header{
    font-size: 23px;
  }
  .slick-list{
    height: 93px;
  }
  .slick-track{
    top: -8px !important;
  }
  .what--content .what--content--text{
    text-align: center;
  }
}