body{
  font-family: 'Avenir LT Std', sans-serif;
  color: #FFFFFF;
  background-color: #090C13;
}
.container{
  max-width: 1148px !important;
}
.container-inner{
  max-width: 767px !important;
}
.background__header, .background__banner{
  background-color: #090C13;
}
.header__container{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.header__container .contact--header .contact--header--button{
  width: 129px;
  height: 40px;
}
.background__banner .banner{
  /* background-color: #21232A; */
  /* padding: 10px; */
}
.background__banner .banner .content{
  padding: 30px 0;
  width: 470px;
}
.title__header{
  font-family: Zilap Orion Personal Use;
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.title--cyber{
  color: #F8B816;
}
.buttons{
  background-color: #F8B816;
  color: #090C13;
  text-align: center;
  font-weight: 900;
  font-family: Avenir;
  border-radius: 8px;
}
.banner__content{
  display: flex;
  justify-content: space-between;
}
.banner__content .image{
  flex-basis: 33.33%;
}
.background__banner{
  padding: 80px 0;
}
.banner__content--button{
  padding: 12px 24px;
  width: fit-content;
}
hr{
  border: 1px solid #E7E7E9;
}
.background__service{
  background-color: #090C13;
  background-image: url("./image/bg-service.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background__service .service{
  padding: 60px 0;
}
.header--service{
  margin-bottom: 100px;
}
.content--service-item:hover{
  /* border: 1px solid #F8B816; */
}
.content--service-item{
  display: flex;
  align-items: center;
  max-width: 566px;
  background: linear-gradient( 
  89.67deg, rgba(255, 255, 255, 0.1) 46.42%, rgba(255, 255, 255, 0.05) 104%);
  border-radius: 25px;
  padding: 25px;
}
.content--service-item .image{
  width: 60px;
  height: 60px;
}
.content--service-item .title{
  padding: 0 20px;
  width: 80%;
}
img{
  width: 100%;
}
.content--service-item .title .title--header{
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 16px;
}
.content--service-item .title .title--bottom{
  font-weight: 200;
  font-size: 16px;
}
/* slider */
.image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slick-initialized .slick-slide {
  margin: 0 34px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
.slick-arrow:hover ion-icon{
  color: #F8B816;
}
.slick-prev {
  left: -3vw;
}
.slick-next {
  right: -3vw;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: none !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}
.slick-list{
  height: 109px;
  padding: 13px !important;
}
.slick-slider .image{
  width: 200px;
}
.slick-slider{
  background-color: #181B21;
  border-radius: 19px;
  margin-bottom: 90px;
}
/* //////////// */

.whychoose__content{
  width: 50%;
  margin-top: 60px;
}
.whychoose__content .title--bottom{
  font-weight: 200;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 80px;
}
.img-why-choose{
  width: 50%;
}
.body-content--why-choose{
  display: flex;
  align-items: center;
  padding: 40px 0;
  gap: 80px;
}
.background__how-service{
  background-color: #171A21;
}
.process{
  padding: 60px 50px;
}
.border, .process-text{
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.04) !important;
  padding: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}
.process-one{
  background-image: url("/image/process-5.png");
}
.process-two{
  background-image: url("/image/process-4.png");
}
.process-three{
  background-image: url("/image/process-2.png");
}
.process-four{
  background-image: url("/image/process-3.png");
}
.process-five{
  background-image: url("/image/process-1.png");
}
.process-text{
  /* background-color: #2B2E33; */
  font-weight: 100;
  font-size: 18px;
  line-height: 150%;
  padding: 12px 40px;
}
.process .title--bottom{
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}
.process-text .header{
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 6px;
}
.process-text .number{
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  margin-right: 10px;
  margin-top: -8px;
}
.border{
  margin-bottom: 20px;
}

.background__footer{
  background-image: url("/image/bg-footer.png");
  background-size: cover;
  background-position: center;
  padding-top: 25vh;
  height: 760px;
}
.footer{
  font-weight: 900;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
}
.footer__header, .footer__bottom{
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 130%;
  /* color: #090C13;
  text-shadow: 1px 0 0 #FFFFFF, -1px 0 0 #FFFFFF, 0 1px 0 #FFFFFF, 0 -1px 0 #FFFFFF, 1px 1px #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF; */
}
.button--footer{
  background: #F8B816;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #090C13;
}
.background__coppy--right{
  background-color: rgba(248, 184, 22, 0.3);
  height: 50px;
}
.coppy--right{
  font-size: 16px;
  line-height: 150%;
}
.what--content{
  display: flex;
  gap: 20px;
}
.what--content .image{
  flex-basis: 50%;
}
.what--content .what--content--text{
  flex-basis: 50%;
  text-align: start;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}
.background__what{
  background-color: #181B22;
}
.what .text__title--content{
  margin-top: 40px;
}
/* .how .content--step{
  background-image: url("./image/step2.png");
} */
.background__how{
  background-color: #181B22;
}
.how .how-one:hover{
  transform: translateY(-10px);
}
.how .how-two:hover{
  transform: translateY(-10px);
}
.how .how-three:hover{
  transform: translateY(-10px);
}
.how .how-four:hover{
  transform: translateY(-10px);
}
.how .image{
  cursor: pointer;
  transition: transform 250ms;
}

/* animation */

/* .selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
}
.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
.selector button:hover {
  background: #3071a9;
}
.selector button:focus {
  outline: none;
}
.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}
.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}
.selector li input {
  display: none;
}
.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}
.selector li input + label:hover {
  background: #f0f0f0;
}
.selector li input:checked + label {
  background: #5cb85c;
  color: white;
}
.selector li input:checked + label:hover {
  background: #449d44;
}
.selector.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
} */
